*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content{
flex: 1;
display: flex;
grid-template-columns: auto auto;
 
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #fbb902 !important;
  border:#FFCD24 !important;
}
.btn-primary:hover{
  background-color: #f5b402 !important;
}
.btn-warning{
  color:#fff !important;
}
label{
  color:#444 !important;
}
